.home {
  color: white;
  display: grid;
  grid-template-rows: min-content auto ;
}

.season {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.seasonName {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.seasonName h3 {
  position: absolute;
  top: -2.25rem;
  font-family: 'Beni';
  width: max-content;
  font-size: 3.5rem;
  color: #ffffff80;
}

.seasonName h4 {
  position: absolute;
  bottom: -1.75rem;
  font-size: 0.75rem;
  width: max-content;
  font-weight: bold;
}

.logoContainer {
  width: 3.4375rem;
  height: 3.4375rem;
  border: 0.1875rem solid white;
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer svg {
  width: 50%;
  height: 50%;
}

.season {
  padding: 1.5625rem 1.25rem;
}

.homeScreen {
  display: flex;
  align-items: center;
  margin: 0 3.4375rem 7.5rem 0;
}