.chat {
  position: fixed;
  bottom: 3px;
  left: 3px;
  right: 3px;
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  padding-left: 12px;
  background-color: rgba(0,0,0,.5);
  max-width: 445px;
  width: calc(100vw - 60px);
  height: 32px;
  font-size: 15px;
}

.chat label[for=chat] {
  cursor: text;
  display: grid;
  grid-template-columns: min-content auto;
}

.chat label[for=chat] span {
  color: #9BC6DA;
  margin-right: 2px;
}

.chat input {
  background-color: transparent;
  border: none;
  color: white;
  
}

.chat label[for=fixChat] {
  width: min-content;
}