.socialBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 51px;
  bottom: 0px;
  right: calc(55px - 257px);
  background-color: #171E24;
  border-top: 1px solid #A5A1AD;
  width: 257px;
  transition: right .1s linear;
  z-index: 99;
  cursor: pointer;
  overflow-y: scroll ;
  overflow-x: hidden;
}

.socialBar::-webkit-scrollbar {
  width: 4px;
}

.socialBar::-webkit-scrollbar-track {
  background: transparent;
}

.socialBar::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: -1px;
  border: 3px none #ff0000;
}

.socialBar:hover {
  background-color: rgba(23, 30, 36, .7);
  right: 0;
  /* filter: brightness(1.3); */
}