.bannersContainer {
  padding: 0 40px;
  height: 100%;
  display: grid;
  grid-template-rows: 35vh 20vh 5vh 7.5vh;
  gap: 5px;
}

.thisProject, .social {
  width: 30vh;
  background-color: #00000080;
  border: 2px solid #828285;
}

.thisProject {
  position: relative;
  font-family: 'Monda', sans-serif;
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thisProject::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
  background: linear-gradient(0deg, rgba(0,255,179,0.25) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
  opacity: 0;
  transition: all .1s linear;
}

.thisProject:hover::before {
  opacity: 1;
}

.thisProject:hover {
  border-color: #90FFE2;
}

.thisProject svg {
  width: 50%;
}

.thisProject h3 {
  text-align: center;
}